<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javasummit</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">JavaSummit</div>
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#gunung">Gunung</a></li>
                    <li><a href="#about">About Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content">
            <h1>Welcome To JavaSummit</h1>
        </div>
    </header>
    <main>
        <section id="home">
            <h1>Our Mountain</h1>
            <div class="slider-container">
                <div class="card-slider">
                    <div class="card">
                        <img src="../Assets/arjuno.jpg" alt="Image 1">
                        <div class="card-content">
                            <h3>Gunung Arjuno</h3>
                            <p>Gunung di Jawa Timur yang memiliki beberapa basecamp nyaman.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../Assets/prau.jpg" alt="Image 2">
                        <div class="card-content">
                            <h3>Gunung Prau</h3>
                            <p>Gunung di Jawa Timur yang memiliki beberapa basecamp nyaman.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../Assets/sindoro.jpeg" alt="Image 3">
                        <div class="card-content">
                            <h3>Gunung Sindoro</h3>
                            <p>Gunung di Jawa Timur yang memiliki beberapa basecamp nyaman.</p>
                        </div>
                    </div>
                </div>
            </div>        
        </section>
        <section id="about">
            <div class="about-container">
                <div class="about-text">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris consectetur lorem, eu varius odio ligula non lorem.</p>
                </div>
                <div class="about-image">
                    <img src="../Assets/gunung.jpg" alt="About Us Image">
                </div>
            </div>
        </section>
        <section id="team">
            <h2>Our Team</h2>
            <div class="team-container">
                <div class="team-card">
                    <img src="" alt="Team Member 1">
                    <div class="team-content">
                        <h3>Ajeng</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="team-card">
                    <img src="" alt="Team Member 2">
                    <div class="team-content">
                        <h3>Rafli</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="team-card">
                    <img src="" alt="Team Member 3">
                    <div class="team-content">
                        <h3>Nova Sukmawati</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-left">
            <h4>JavaSummit</h4>
        </div>
        <div class="footer-center">
            <h4>Social Media</h4>
            <p><a href="#">Instagram</a></p>
            <p><a href="#">Twitter</a></p>
            <p><a href="#">Youtube</a></p>
            <!-- Daftar ikon media sosial -->
        </div>
        <div class="footer-right">
            <h4>Contact Person</h4>
            <p>Rafli</p>
            <p>Ajeng</p>
            <p>Nova Sukmawati</p>
        </div>
    </footer>
</body>
</html>
